name: Publish Python distribution to PyPI

on:
  workflow_dispatch:
  release:
    types:
      - published # from the docs: If you want a workflow to run when stable and pre-releases publish, subscribe to *published* instead of "released" and "prereleased".

env:
  POETRY_VERSION: 1.1.10
  PYTHON_VERSION: 3.9  # Use latest

jobs:
  build-n-publish:
    name: Publish Python distribution to PyPI
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@main
      - name: Set up Python 3.9
        uses: actions/setup-python@v2
        with:
          python-version: '3.9'
      - uses: Gr1N/setup-poetry@v4
        with:
          poetry-version: ${{ env.POETRY_VERSION }}
      - name: What info is available?
        run: |
          echo '${{ toJSON(github) }}'
      # If the version is 0.1.0-alpha.0, this will set the version to 0.1.0
      - name: Bump package version to release
        run: |
          poetry version prerelease
      
      - name: Build Python package and publish to PyPI
        if: ${{ github.event.release.target_commitish == 'main' }}
        run: |
          poetry publish --build --username __token__ --password ${{ secrets.PYPI_TOKEN}}
      
      # - name: Bump poetry version to next alpha version
      #   run: |
      #     poetry version prepatch
      
      - name: Commit files
        if: ${{ github.event.release.target_commitish == 'main' }}
        run: |
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"
          git stash
          git fetch
          git checkout -f main
          git pull -f
          git stash pop
          version=$(awk -F'[ ="]+' '$1 == "version" { print $2 }' pyproject.toml)
          git commit -am "Bump package version to $version"
      
      - name: Push changes
        if: ${{ github.event.release.target_commitish == 'main' }}
        uses: ad-m/github-push-action@master
        with:
          github_token: ${{ secrets.ADMIN_PAT }}
          branch: ${{ github.event.release.target_commitish }}